<h1> Create a new Project</h1>
<form>
<input ng-model="User.reg_projectTitle" placeholder="Project Title"/><br/>
    <input ng-model="User.reg_Street" placeholder="Street Address"/><br/>
    <input ng-model="User.reg_City" placeholder="City"/><br/>
    <input ng-model="User.reg_State" placeholder="State"/><br/>
    <input ng-model="User.reg_postalCode" placeholder="Postal Code"/><br/>
    <input ng-model="User.reg_Fax" placeholder="Fax"/><br/>
    <input ng-model="User.reg_Phone" placeholder="Phone"/><br/>
    <input ng-model="User.reg_BidDate" placeholder="Bid Date"/><br/>
    <input ng-model="User.reg_Contact" placeholder="Contact"/><br/>
    <button ng-click="submitProject()">Submit Project</button>
         
</form>